<%- include("header") -%>
    <div class="box"> 
        <p>I am Dehine Mulatu,student at Debremarkos University, Junior Software Developer, who wants to specialize on Frontend Web Development.
            <p>Contact me: <a href="t.me/@Ed_dehine">Telegram</a></p>
        </p>
        </div>

        <%- include("footer") -%>